
body {
    
    background-color: black;
    color: white;
}

.red {
    background-color: red;
    width: 75px;
    height: 20px;
    margin: 5px;
}

.orange {
    
    background-color: orange;
    width: 75px;
    height: 20px;
    margin: 5px;
    
}
.yellow {
    background-color: yellow;
    width: 75px;
    height: 20px;
    margin: 5px;

   
}
.green {
     background-color: green;
    width: 75px;
    height: 20px;
    margin: 5px;
    
}
.blue {
    background-color: blue;
    width: 75px;
    height: 20px;
    margin: 5px;
}
.square {
    width: 100px;
    height: 100px;
    background-color: white;
    margin: 15px;
}
.circle {
    width: 90px;
    height: 90px;
    background-color: white;
    margin: 15px;
    border-radius: 50px;
}

.box1 {
    border-style:solid;
    width: 100px;
    height: 100px;
    border-bottom-color: dimgray;
    border-right-color: dimgray;
    border-left-color: dimgray;
    border-width: 10px;
    margin-top: 25px;
}

.box2 {
    border-style:solid;
    width: 100px;
    height: 100px;
    border-right-color: dimgray;
    border-left-color: dimgray;
    border-width: 10px;
    margin-top: 25px;

}
.box3 {
    border-style:solid;
    width: 100px;
    height: 100px;
    border-left-color: dimgray;
    border-width: 10px;
    margin-top: 25px;
}


.box4 {
    border-style:solid;
    width: 100px;
    height: 100px;
    border-width: 10px;
    margin-top: 25px;
}
}