#channel {font-family: sans-serif;font-size:20pt; color: blue;margin: 5%;}
#container{
  
    height: 1000px;
    position: relative;
    
}
.page {
 
    height: 100%;
    width: 100%;
    background-size: 100%;
    position: absolute;
    display: none;
    background-repeat: no-repeat;
}
#page1 {
    background-image: url(../images/welcome.jpg);
    width: 90%;
    margin-left: 5%;
}
#page2 {
    background-image:url("../images/CollegeCooking.jpg");
    width: 90%;
    margin-left: 5%;
}
#page3 {
    background-image: url(../images/broadcasting.png);
    width:90%;
    margin-left: 5%;
}
#page4 {  background-image: url(../images/wingfued.png);
    width:90%;
    margin-left: 5%;}
input[type="radio"]:checked + .page {
    display: block;
}
#controls {
    left: 50%;
    transform: translate(-50%,0 );
    bottom: 22%;
    position:absolute;
    user-select: none;
  
}
label {
    font-size: 50pt;
    color: blue;
    cursor: pointer;
}

input[type="radio"]{
    display: none;
}

#show1:checked~#controls label:nth-child(1),#show2:checked ~ #controls label:nth-child(2), #show3:checked ~ #controls label:nth-child(3),#show4:checked~#controls label:nth-child(4){
    color: black;
}

@media (max-width: 45em){ 

    
    main img {
        width: 100%;margin: 0:
    }
    #controls {
    left: 50%;
    transform: translate(-50%,0 );
    bottom: 80%;
}
  
} 
   
