main {
    width: 95%;
    font-size: 20pt;
    display: inline;
}
.logo {width:49%;display:inline-block;text-align: center;}
main img:hover {transform: scale(1.05);}

@media (max-width: 35em){ 
     main {
         width: 100%;
    }
    .logo {width: 100%;}
    nav {
        width: 100%; 
        height: auto;
    }
      
    main img {
        width: 100%;
        margin: 0;
    }

      main img:hover {
    transform: scale(1.05);
}